@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';
*{
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/tennis_lis.jpg);
  font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4E443C;
  text-shadow: 0 1px 0 rgba(16, 0, 45, 0.75);
  background-attachment:fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #eae6f2;
  font-size: 36px;
  font-weight: bold;
}

h2, h2 a {
  margin-top: 10px;
  color: white;
}

h3, h3 a {
  margin: 10px auto;
  color: white;
}

a {
  color: white;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}


.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 317px;
    height: 448px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 140px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    line-height: 14px;
    min-width: 14px;

    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;

    margin-right: 2px;

    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.mfs-select{
    float: right;
    width: 30%;
    margin: -528px auto;
    position: relative;
}

/*******CHECKBOXES JQUERY***********/

.jquery-checkbox{
  float: right;
  position: relative;
  width: 30%;
  margin: -329px auto;

}

form {
    padding: 10px;
    background: rgb(89, 147, 248;)
    background: -moz-linear-gradient(270deg, rgb(89, 147, 248) 18%, rgb(126, 164, 231) 73%);
    background: -webkit-linear-gradient(270deg, rgb(89, 147, 248) 18%, rgb(126, 164, 231) 73%);
    background: -o-linear-gradient(270deg, rgb(89, 147, 248) 18%, rgb(126, 164, 231) 73%);
    background: -ms-linear-gradient(270deg, rgb(89, 147, 248) 18%, rgb(126, 164, 231) 73%);
    background: linear-gradient(0deg, rgb(89, 147, 248) 18%, rgb(126, 164, 231) 73%);
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 15px;
}

.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url('../img/checkbox.png');
    overflow: hidden;
}
.niceChecked {
    background-position: 0 -17px;
}
.niceCheck input {
    margin-left: -100px;
}
.niceCheckDisabled {
    background-image: url('../img/checkbox-disabled.png');
}

.jquery-checkbox label:after {
    content: ' ';
     margin-left: 10px;
}
/*******CHECKBOXES CSS***********/

.css-checkbox {
  float: right;
  position: relative;
  width: 30%;
  margin: -130px auto;
}

.input-css input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.input-css label {
    cursor: pointer;
}
.input-css label:after {
    content: ' ';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('../img/checkbox-2.png');
    position: relative;
    top: 3px;
    margin-left: 15px;
}

.input-css input[type=checkbox]:checked + label:after {
background-position: 0 -17px;
}
.input-css label:hover:after {
background-position: 0 -34px;
}
.input-css input[type=checkbox]:checked + label:hover:after {
background-position: 0 -51px;
}



/* Pop-up Menu
-------------------------------------------------------------- */
.pop-up-menu{
    min-width:1000px;
}

ol, ul {
    list-style: none;
}

nav {
    border: 1px solid white;
    background-color:rgb(255,100,100);
    padding:10px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {

    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
    z-index: 999;
}
.sub-menu{
     background-color: #E14B4B;
}
.js-sub-menu{
     background-color: #E14B4B;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
    z-index: 999;

}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px rgb(200,50,50);
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

ul.js-sub-menu {
    display:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li.js-dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}
nav li li.js-dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}
